/*Announcement Bar */
/*div.content {
margin-top: 80px!important;
} */

.side h3:last-of-type {
	display: none;
	position: absolute;
	font-size: 11px!important;
	left: 35px;
	top: 135px;
	border-radius: 8px;
	z-index: 9;
	width: 330px;
	height: 50px;
	color: #000;
	padding: 25px 20px 0px 75px;
	font-weight: lighter;
	line-height: 13px;
}

/* Side Bar Box */
.titlebox {
	background: url(%%titlebox-background%%) no-repeat rgb(59, 136, 56);
	padding: 150px 15px 15px 15px;
	border: 3px solid #635028;
	-moz-border-radius: 15px;
	border-radius: 8px;
	-moz-box-shadow: 0 0 5px #555;
	box-shadow: 0 0 5px #555;
}

/* Subscription Buttons */
.subButtons {
	padding-left: 10px;
	width: 300px;
}

/* Inline Readers/Active Users */
.subscribers {
	float: left;
	padding-right: 28px;
}

/* Flair & Moderator Box */
.leavemoderator, .leavecontributor-button, .flairtoggle{
	background: 0!important;
	color: white !important;
}

/* Text Headers */
.titlebox strong {
	font-size: 10pt;
}

/* Sidebar Section Icons */
.titlebox div.md p:nth-of-type(1) {
	background: url(%%sheik-zelda%%) no-repeat;
	padding: 10px 0px;
}

.titlebox div.md p:nth-child(7) {
	background: url(%%twitch-header%%) no-repeat;
	padding: 10px 0px;
}

.titlebox div.md p:nth-child(11) {
	background: url(%%comm-chicken-icon%%) no-repeat;
	padding: 10px 0px;
}

.titlebox div.md p:nth-child(16) {
	background: url(%%rules-warr-icon%%) no-repeat;
	padding: 10px 0px;
}

/* Rules Ordered List */
.titlebox div.md p:nth-child(16) + ol {
	padding: 0px;
	margin: 15px;
}

.titlebox div.md li p {
	background: none!important;
	padding: 0px!important;
	text-align: left!important;
}

/* Twitch List */
.titlebox div.md p:nth-child(8) + ul {
	margin: 15px 0px 0px 0px;
	padding: 0px;
}

.titlebox div.md p:nth-child(8) + ul li {
	list-style-type: none;
	padding-left: 20px;
	line-height: 15px;
	font-weight: bold;
	background: url(%%twitch-offline%%) no-repeat;
}


.titlebox div.md p:nth-child(8) + ul li a {
	color: #000;
}

.titlebox div.md p:nth-child(8) + ul li a:hover {
	color: #f00;
}

/* Twitch Streamer: xespera */
.titlebox div.md p:nth-child(8) + ul li:nth-child(1) {
	background: url(%%xespera-twitch-offline%%) no-repeat;
}

/* Twitch Streamer: mutatorr */
.titlebox div.md p:nth-child(8) + ul li:nth-child(2) {
	background: url(%%mutatorr-twitch-offline%%) no-repeat;
}

/* Twitch Streamer: RadderssGaming */
.titlebox div.md p:nth-child(8) + ul li:nth-child(3) {
	background: url(%%RadderssGaming-twitch-offline%%) no-repeat;
}

/* Twitch Streamer: ciracorellia */
.titlebox div.md p:nth-child(8) + ul li:nth-child(4) {
	background: url(%%ciracorellia-twitch-offline%%) no-repeat;
}

/* Twitch Streamer: gamecatt */
.titlebox div.md p:nth-child(8) + ul li:nth-child(5) {
	background: url(%%gamecatt-twitch-offline%%) no-repeat;
}

/* Twitch Streamer: microsoftsally */
.titlebox div.md p:nth-child(8) + ul li:nth-child(6) {
	background: url(%%microsoftsally-twitch-offline%%) no-repeat;
}

/* Twitch Streamer: prawnn */
.titlebox div.md p:nth-child(8) + ul li:nth-child(7) {
	background: url(%%prawnn-twitch-offline%%) no-repeat;
}

/* Main Text */
.titlebox .md {
	background-color: #F2DC79!important;
	background-image: none;
	border: 2px solid #DE9750;
	border-radius: 8px;
	font-size: 8pt;
	line-height: 11px;
	padding: 15px;
}

.titlebox div.md a {
	color: #594836;
}

.titlebox div.md a:hover {
	color: #DE9750;
}

/* Top Bar */
#header {
	background: url(%%pixel-background%%) #9FD955;
	border-bottom: 3px solid #635028;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

#header-bottom-right {
	background-color: #F2DC79!important;
	background-image: none;
	border: 2px solid #DE9750;
	border-right: 0px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.tabmenu li a {
	padding: 2px 6px 0 6px;
	background-color: #594836;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 2px solid green;
	border-bottom: 0px!important;
	color: #F6E6CE;
}

.tabmenu li.selected a {
	padding: 2px 6px 0 6px;
	background-color: #594836;
	color: #DE9750;
	border: 2px solid green;
}


/* Rulers */
.titlebox hr {
	margin: 20px 0px
}

/* Submit Button */
.morelink {
	background-color: #F2DC79!important;
	background-image: none;
	border: 2px solid #DE9750;
	border-radius: 20px;
	width: 90%;
	margin-left: 4%;
	z-index: 1!important;
}

.morelink:hover {
	background-image: none;
	border: 2px solid #DE9750;
	box-shadow: 0 0 5px 1px #639423;
	color: black;
}

.sidebox.submit {
	position: absolute;
	top: 275px;
	width: 300px;
}

.titlebox h1, .sidebox.submit .spacer, .login-form-side, .linkinfo, .bottom, .nub, #userbarToggle {
	display: none!important;
}

div.submit-text {
	display: none;
}

/* Arrow Hover */

.arrow.down:hover:before {
	position: absolute;
	display: block;
	z-index: 1000;
	height: 101px;
	width: 280px;
	padding: 60px 80px 0px 50px;
	background: url(%%downvote-hover%%) no-repeat;
	content: "";
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 17px
}


/* Flair */
.flair-xbox {
	background-color: #7FFF00;
}

.flair-ps3 {
	background-color: #00FFFF;
}

.flair-steam {
	color:#000000;
	background-color: #D3D3D3;
}

.flair-bnet {
	color: #FFFFFF;
	background-color: #E60000;
}


.flair-other {
	color: #FFFFFF;
	background-color: #000000;
}

.flair-all {
	color: #FFFFFF;
	background-color: #6600FF;
}

/*Spoiler tag within comments. Comments should be: "[This is a spoiler sentence.](/spoiler)" */
a[href$="/spoiler"] {
	background: #000 !important;
	color: #000 !important
}

a[href$="/spoiler"]:hover {
	color: #FFF !important
}

.linkflairlabel {
	color: #FFFFFF;
	font-size: 9px;
	padding: 3px 4px;
	margin-bottom: -2px;
	border: 0 !important;
	width: 60px;
	text-align: center;
}

.linkflair-az .linkflairlabel {
	background-color: #0277bd!important;
}

.linkflair-cq .linkflairlabel {
	background-color: #056f00!important;
}

.linkflair-dz .linkflairlabel {
	background-color: #4527a0!important;
}

.linkflair-fz .linkflairlabel {
	background-color: #c51162!important;
}

.linkflair-nq .linkflairlabel {
	background-color: #2C3E50!important;
}

.linkflair-rz .linkflairlabel {
	background-color: #283593!important;
}

.linkflair-vz .linkflairlabel {
	background-color: #c41411!important;
}

.linkflair-tq .linkflairlabel {
	background-color: #CCCCCC!important;
	color: #000000;
}

.side blockquote:last-of-type > ul > li:first-of-type::after {
	padding: 5px;
	color: #F6E6CE;
	display: block;
	text-align: center;
}

html:lang(az) .link:not(.linkflair-az) {
	display: none
}

html:lang(az) .side blockquote:last-of-type > ul > li:first-of-type > p {
	display: none;
}

html:lang(az) .side blockquote:last-of-type > ul > li:first-of-type::after {
	content: "Articles";
}

html:lang(cq) .link:not(.linkflair-cq) {
	display: none
}

html:lang(cq) .side blockquote:last-of-type > ul > li:first-of-type > p {
	display: none;
}

html:lang(cq) .side blockquote:last-of-type > ul > li:first-of-type::after {
	content: "Community";
}

html:lang(dz) .link:not(.linkflair-dz) {
	display: none
}

html:lang(dz) .side blockquote:last-of-type > ul > li:first-of-type > p {
	display: none;
}

html:lang(dz) .side blockquote:last-of-type > ul > li:first-of-type::after {
	content: "Discussions";
}

html:lang(fz) .link:not(.linkflair-fz) {
	display: none
}

html:lang(fz) .side blockquote:last-of-type > ul > li:first-of-type > p {
	display: none;
}

html:lang(fz) .side blockquote:last-of-type > ul > li:first-of-type::after {
	content: "Fluff";
}

html:lang(nq) .link:not(.linkflair-nq) {
	display: none
}

html:lang(nq) .side blockquote:last-of-type > ul > li:first-of-type > p {
	display: none;
}

html:lang(nq) .side blockquote:last-of-type > ul > li:first-of-type::after {
	content: "News";
}

html:lang(rz) .link:not(.linkflair-rz) {
	display: none
}

html:lang(rz) .side blockquote:last-of-type > ul > li:first-of-type > p {
	display: none;
}

html:lang(rz) .side blockquote:last-of-type > ul > li:first-of-type::after {
	content: "Requests";
}

html:lang(vz) .link:not(.linkflair-vz) {
	display: none
}

html:lang(vz) .side blockquote:last-of-type > ul > li:first-of-type > p {
	display: none;
}

html:lang(vz) .side blockquote:last-of-type > ul > li:first-of-type::after {
	content: "Venting";
}

html:lang(tq) .link:not(.linkflair-tq) {
	display: none
}

html:lang(tq) .side blockquote:last-of-type > ul > li:first-of-type > p {
	display: none;
}

html:lang(tq) .side blockquote:last-of-type > ul > li:first-of-type::after {
	content: "To be tagged";
}

.side blockquote:last-of-type {
	position: absolute;
	left: 132px;
	top: 15px;
	border: 0;
	z-index: 200;
	background: none !important;
}

.side blockquote:last-of-type > ul {
	background: #594836;
	list-style: none;
	width: 100px;
	font-size: 1.2em;
	z-index: 5000;
}

.side blockquote:last-of-type > ul > li {
	display: none;
	background: #594836;
	float: left;
	padding: 5px;
	width: 100px;
	border: 2px solid green;
	border-top: 0;
}

.side blockquote:last-of-type > ul > li > p {
	color: #F6E6CE !important;
	text-align: center !important;
}

.side blockquote:last-of-type > ul > li > p > a {
	color: #F6E6CE;
}

.side blockquote:last-of-type > ul > li:first-of-type {
	border-top: 2px solid green;
	display: block;
}

.side blockquote:last-of-type ul:hover li {
	display: block;
}

/* .np css */

html:lang(np) .midcol {
	display: none !important;
}

html:lang(np) .score {
	display: none !important;
}

html:lang(np) .buttons {
	display: none !important;
}
